h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

#text-label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-text {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

#output-text {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    margin-bottom: 20px;
}

#create-text-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgrey;
    padding: 6px 6px 6px 6px;
    border: 0px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}